name: Deploy Static Files

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3 

    # Clean the destination directory
    - name: Clean Destination Directory
      run: sudo rm -rf /var/www/html/*

    # Copy static files to the destination directory
    - name: Copy Static Files
      run: sudo cp -r ./HV-Quest/_work/HV-Quest/HV-Quest/* /var/www/html/
      
    # Restart Nginx to apply changes
    - name: Restart Nginx
      run: sudo service nginx restart
